
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Page</title>
    <div class="navbar navbar-expand fixed-top" style="border-bottom: 2px solid burlywood;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/shoppage" style="font-size: 40px; color: black">Literary Fables</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="navbar-brand" href="/userpageafterlogin/<%= user_id %>"
                            style="color:gray ; font-family:Raleway ; font-size: 20px ; transform: translatex(200px) ">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand" href="/mycart/<%= user_id%>"
                            style="color:gray ; font-family:Raleway ; font-size: 20px ; transform: translatex(200px) "> MY CART
                            </a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand" href="/borrowedbooks/<%= user_id%>"
                            style="color:gray ; font-family:Raleway ; font-size: 20px ; transform: translatex(200px) ">MY BOOKS</a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand" href="/mycards/<%= user_id %>"
                            style="color:gray ; font-family:Raleway ; font-size: 20px ; transform: translatex(200px) ">MY CARDS</a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand" href="/myoffers/<%= user_id %>"
                            style="color:gray ; font-family:Raleway ; font-size: 20px ; transform: translatex(200px) ">
                            MY EXCHANGE OFFERS
                        </a>
                    </li>
                    
                    
                </ul>
            </div>
        </div>
    </div>
    
</head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.css" rel="stylesheet" id="bootstrap-css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Playfair+Display&family=Prata&family=Raleway:wght@300&display=swap');      
        
        body{
            background-color: #F3F2EC;
            font-family: "Prata";
            font-size: 20px;
        }
        .card {
        font-family: 'Merriweather';
        width: 240px;
        height: 630px;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
        overflow: hidden;
        }

        .card img {
        width: 100%;
        height: auto;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        }

        .card .info {
        padding: 20px;
        }

        .card h3 {
        margin: 0 0 10px 0;
        font-size: 1.2rem;
        color: #333;
        }

        .card p {
        margin: 0 0 8px 0;
        font-size: 0.9rem;
        color: #666;
        }

        .quantity {
        width: 70px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 15px;
        font-size: 0.9rem;
        outline: none;
        }

        .card .btn {
        display: inline-block;
        transform: translateX(13px);
        transform: translateY(11px);
        width: 170px;
        padding: 12px 24px;
        background-color: #3498db;
        color: #fff;
        text-decoration: none;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        }

        .card .btn:hover {
        background-color: #2980b9;
        }

        .cart-icon {
        vertical-align: middle;
        margin-left: 5px;
        }

        .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4);
        }

        .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 350px;
        height: 250px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        }

        .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        }

        .close:hover,
        .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
        }


    </style>
<body>
    <div class="container" style="transform: translateY(200px)">
        <p style="font-size: large;">BOOKS TO BUY</p>
        <div class="row gx-15">
            <% for(let i = 0; i < bookarray1.length; i++) { %>
                <div class="col-3">
                    <div class="card">
                        <img src="css/b1.jpg" alt="Book Cover">
                        <div class="info">
                          <h3><%=bookarray1[i].NAME%></h3>
                          <p><strong>Genre:</strong> <%= bookarray1[i].GENRE %> </p>
                          <p><strong>Price:</strong> <%= bookarray1[i].PRICE %></p>
                          <p><strong>Available Copies:</strong> <%= bookarray1[i].NUMBER_OF_COPIES %></p>
                          <form action="/booksinshop" method="POST">
                            <input type="hidden" name="USER_ID" value="<%= user_id %>">
                            <input type="hidden" name="BOOK_ID" value="<%= bookarray1[i].BOOK_ID %>">
                            <input type="hidden" name="SHOP_ID" value="<%= bookarray1[i].SHOP_ID %>">
                            
                            <label for="quantity"><strong>Quantity</strong>:</label>
                            <input type="number" id="quantity" name="COPY_NO" class="quantity" value="1" min="1">
                            <button class="btn"><strong>Add To Cart</strong> <img src="css/carts.png" alt="Cart Icon" style="width: 15px;
                                height: 15px;
                                " class="cart-icon"></button>
                          </form>
                          
                        </div>
                    </div>
                    
                                
                </div>
            <% } %>
        </div>

        

    </div>

    <% if(cannot_add_to_more_shops == true || not_enough_copies == true){ %>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <h3 style="color: red">Error!</h3>
                </br>
                <% if(cannot_add_to_more_shops == true) {%>
                    <p>Cannot buy from another shop</p>
                <% } else if(not_enough_copies == true) {%>
                    <p>Not enough copies in shop</p>
                <% } %>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal()">Close</button>

            </div>
            
        </div>

    <% } %>
    

    <script>
        var modal = document.getElementById("myModal");

   // When the DOM is fully loaded, show the modal
       document.addEventListener('DOMContentLoaded', function () {
           modal.style.display = "block";
       });

       
       // Close the modal when the user clicks on the close button
       function closeModal() {
           modal.style.display = "none";
       }
       
      
   </script>
   

    
</body>
</html>