    
    <html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Publisher Page</title>
    
        <div class="navbar navbar-expand fixed-top" style="border-bottom: 2px solid burlywood;">
            <div class="container-fluid">
                <a class="navbar-brand" href="/shoppage" style="font-size: 40px; color: black">Literary Fables</a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="navbar-brand" href="/publisherpageafterlogin/<%= publisher_id %>"
                                style="color:gray ; font-family:Raleway ; font-size: 20px ; transform: translatex(200px) ">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="navbar-brand" href="/addPublishedBooks/<%= publisher_id %>"
                                style="color:gray ; font-family:Raleway ; font-size: 20px ; transform: translatex(200px) "> ADD BOOK
                            </a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="navbar-brand" href="/publishedbooks"
                                style="color:gray ; font-family:Raleway ; font-size: 20px ; transform: translatex(200px) "> PUBLISHED BOOKS</a>
                        </li> -->
                        
    
                       
                    </ul>
                </div>
            </div>
        </div>
    
    </head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.css" rel="stylesheet" id="bootstrap-css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Playfair+Display&family=Prata&family=Raleway:wght@300&display=swap');
    
        body {
            background-color: #F3F2EC;
            font-family: "Prata";
            font-size: 20px;
        }
    </style>
    
    <body>
        <div class="container " style="transform: translateY(200px);">
            <p style="font-size: 25px;">BOOKS</p>
            
            <div class="row gx=15">
                <% for(let i = 0; i < publishedbooks.length; i++) { %>
                    <div class="col-3">
                        <div class="card" style="width: 18rem;">
                            <img src="css/b1.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <p class="card-text">Book Name: <%= publishedbooks[i].NAME %></p>
                              <p class="card-text">Book Genre: <%= publishedbooks[i].GENRE %></p>
                              <p class="card-text">Rating: <%= publishedbooks[i].RATING %></p>

                              
                              
                            </div>
                        </div>            
                    </div>
                <% } %>
                
            </div>
        </div>
        
    </body>
    
    </html>